:root {
  /* colours */
  --green: hsl(75 94% 57%);
  --white: hsl(0 0% 100%);
  --grey-700: hsl(0 0% 20%);
  --grey-800: hsl(0 0% 12%);
  --grey-900: hsl(0 0% 8%);

  /* semantic colours */
  --clr-text-primary: var(--white);
  --clr-text-secondary: var(--grey-700);
  --clr-bg-body: var(--grey-900);
  --clr-bg-card: var(--grey-800);
  --clr-bg-link: var(--grey-700);
  --clr-accent: var(--green);

  /* typography */
  --font-sans: "Inter", sans-serif;
  --fw-normal: 400;
  --fw-semibold: 600;
  --fw-bold: 700;
  --fs-sm: 0.875rem; /* 14px */
  --fs-2xl: 1.5rem; /* 24px */
  --line-height: 1.5;

  /* spacing */
  --space-50: 4px;
  --space-100: 8px;
  --space-150: 12px;
  --space-200: 16px;
  --space-300: 24px;
  --space-500: 40px;

  /* border radius */
  --radius-sm: 8px;
  --radius-lg: 12px;
  --radius-full: 50%;

  /* box shadow */
  --shadow: 0 4px 4px 0 hsl(0 0% 0% / 0.25);
}

@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/Inter-VariableFont.woff2") format("woff2");
  font-weight: 100 900;
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

img {
  display: block;
  max-width: 100%;
}

body {
  background-color: var(--clr-bg-body);
  color: var(--clr-text-primary);
  font-family: var(--font-sans);
  font-size: var(--fs-sm);
  font-weight: var(--fw-normal);
  line-height: var(--line-height);
}

main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--space-300);
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.card {
  max-width: 24rem;
  width: 100%;
  background-color: var(--clr-bg-card);
  padding: clamp(var(--space-300), 1.2143rem + 1.4286vw, var(--space-500));
  border-radius: var(--radius-lg);
  box-shadow: var(--shadow);
  display: flex;
  flex-direction: column;
  gap: var(--space-300);
  text-align: center;
}

.card__image {
  margin-inline: auto;
  width: 5.5rem;
  height: 5.5rem;
  border-radius: var(--radius-full);
}

.card__information {
  display: flex;
  flex-direction: column;
  gap: var(--space-50);
}

.card__title {
  font-size: var(--fs-2xl);
  font-weight: var(--fw-semibold);
}

.card__location {
  color: var(--clr-accent);
  font-weight: var(--fw-bold);
}
