:root {
  /* colors */
  --green: hsl(75 94% 57%);
  --white: hsl(0 0% 100%);
  --grey-700: hsl(0 0% 20%);
  --grey-800: hsl(0 0% 12%);
  --grey-900: hsl(0 0% 8%);

  /* semantic colors */
  --clr-bg-body: var(--grey-900);
  --clr-bg-card: var(--grey-800);
  --clr-text-primary: var(--white);
  --clr-text-accent: var(--green);
  --clr-bg-btn: var(--grey-700);
  --clr-text-btn: var(--white);
  --clr-bg-btn-hover: var(--green);
  --clr-text-btn-hover: var(--grey-700);

  /* typography */
  --font-sans: "Inter", sans-serif;
  --fw-regular: 400;
  --fw-semibold: 600;
  --fw-bold: 700;
  --fs-sm: 0.875rem; /* 14px */
  --fs-lg: 1.5rem; /* 24px */
  --lh: 1.5;

  /* spacing */
  --space-50: 4px;
  --space-100: 8px;
  --space-150: 12px;
  --space-200: 16px;
  --space-300: 24px;
  --space-500: 40px;

  /* sizing */
  --max-card: 24rem; /* 384px */
  --max-avatar: 5.5rem; /* 88px */

  /* border radius */
  --radius-sm: 8px;
  --radius-lg: 12px;

  /* box shadow */
  --shadow: 0 4px 4px 0 hsl(0 0% 0% / 0.25);
}

@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/Inter-VariableFont.woff2") format("woff2");
  font-weight: 100 900;
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

img {
  display: block;
  max-width: 100%;
}

body {
  background-color: var(--clr-bg-body);
  color: var(--clr-text-primary);
  font-family: var(--font-sans);
  font-size: var(--fs-sm);
  font-weight: var(--fw-regular);
  line-height: var(--lh);
  text-align: center;
}

main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--space-300);
}

.card {
  background-color: var(--clr-bg-card);
  max-width: var(--max-card);
  width: 100%;
  padding: clamp(var(--space-300), 1.2143rem + 1.4286vw, var(--space-500));
  border-radius: var(--radius-lg);
  box-shadow: var(--shadow);
  display: flex;
  flex-direction: column;
  gap: var(--space-300);
}

.card__image {
  border-radius: 50%;
  margin-inline: auto;
  width: var(--max-avatar);
  height: var(--max-avatar);
}

.card__intro {
  display: flex;
  flex-direction: column;
  gap: var(--space-50);
}

.card__title {
  font-size: var(--fs-lg);
  font-weight: var(--fw-semibold);
}

.card__location {
  color: var(--clr-text-accent);
  font-weight: var(--fw-bold);
}

.card__description::before,
.card__description::after {
  content: '"';
}
