@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("/assets/fonts/Inter-VariableFont.woff2") format("woff2");
}

:root {
  --green: hsl(75 94% 57%);
  --white: hsl(0 0% 100%);
  --grey-700: hsl(0 0% 20%);
  --grey-800: hsl(0 0% 12%);
  --grey-900: hsl(0 0% 8%);

  --font-sans: "Inter", sans-serif;
  --fs-sm: 0.875rem;
  --fs-2xl: 1.5rem;
  --fw-regular: 400;
  --fw-semibold: 600;
  --fw-bold: 700;
  --lh: 1.5;

  --space-50: 4px;
  --space-100: 8px;
  --space-150: 12px;
  --space-200: 16px;
  --space-300: 24px;
  --space-500: 40px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

img {
  display: block;
  max-width: 100%;
}

body {
  background-color: var(--grey-900);
  color: var(--white);
  font-family: var(--font-sans);
  font-size: var(--fs-sm);
  font-weight: var(--fw-regular);
  line-height: var(--lh);
}

main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--space-300);
}

.card {
  background-color: var(--grey-800);
  max-width: 24rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--space-300);
  text-align: center;
  border-radius: 12px;
  padding: clamp(var(--space-300), 1.2143rem + 1.4286vw, var(--space-500));
}
